{{>header}}
<h2>{{title}}</h2>
<p>Just a simple app made with Node JS.</p>
<p>The app is capable to get the location througth two data: latitude and longitude</p>
<p>Once these data are given, the app will return all the weather data about the location found.</p>
{{>footer}}