{{>header}}
<h1>{{title}}</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facere quae, error nihil in suscipit voluptatibus
    esse earum deserunt eveniet eius fuga tempore, corporis reprehenderit quisquam maxime repellat. Error, quibusdam?
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facere quae, error nihil in suscipit voluptatibus
    esse earum deserunt eveniet eius fuga tempore, corporis reprehenderit quisquam maxime repellat. Error, quibusdam?
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facere quae, error nihil in suscipit voluptatibus
    esse earum deserunt eveniet eius fuga tempore, corporis reprehenderit quisquam maxime repellat. Error, quibusdam?
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facere quae, error nihil in suscipit voluptatibus
    esse earum deserunt eveniet eius fuga tempore, corporis reprehenderit quisquam maxime repellat. Error, quibusdam?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi vel ab molestias rerum! Cumque ducimus inventore
    aspernatur deleniti sequi nesciunt vero. Officiis, reprehenderit illo. Beatae ab et harum adipisci libero.
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae facere quae, error nihil in suscipit voluptatibus
    esse earum deserunt eveniet eius fuga tempore, corporis reprehenderit quisquam maxime repellat. Error, quibusdam?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi vel ab molestias rerum! Cumque ducimus inventore
    aspernatur deleniti sequi nesciunt vero. Officiis, reprehenderit illo. Beatae ab et harum adipisci libero.
</p>
{{>footer}}