{{>header}}
<div class="form__location">
    <form action="" method="get">
        <div class="form__item">
            <label>Latitude</label>
            <input name="latitude">
        </div>
        <div class="form__item">
            <label>Longitude</label>
            <input name="longitude">
        </div>
        <button class="button" type="submit">Find location</button>
    </form>
</div>
{{>footer}}