<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/styles.css'>
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="top__header">
        My location : Fortaleza
    </div>
    <header class="header">
        <div class="header__logo">
            <a href="./"><img src="/img/logo.png" class="img-responsive" alt="Weather"></a>
            <a href="./">
                <h4 class="header__title">Weather APP</h4>
            </a>
        </div>
        <div class="header__navigation">
            <nav>
                <a href="/" class="">Home</a>
                <a href="./about" class="">About</a>
                <a href="./help" class="">Help</a>
                <a class="location-text" href="./location" class="">Try a location</a>
            </nav>
        </div>
    </header>
    <main>