@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #525252;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 8px 16px;
    background-color: #FAFAFA;
}

.top__header {
    background-color: #329ca8;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px;
    color: #FFF;
    text-align: center;
}


.my__location {
    font-size: 14px;
}

footer {
    background-color: #262626;
    color: #FAFAFA;
    padding: 10px;
    border-top: 1px solid #eeeeee;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}

header {
    margin-top: 24px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 8px;
    border-radius: 5px;
}

h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

header a {
    color: #888;
    margin: 0 8px;
    text-decoration: none;
}

.header__logo {
    display: flex;
}

 .header__title {
     padding-top: 4px;
 }

.header__logo img{
    width: 50px;
    margin: auto 0;
}

.header__navigation {
    margin: auto 0;
}

.location-text {
    color: #FAFAFA;
    background-color: #269945;
    padding: 5px;
}

.content-404 {
    text-align: center;
    margin: 20% 0;
}

.form__location {

}

.form__item input{
    height: 30px;
    width: 300px;
}